.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.container {
  margin-top: 100px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.img-form {
  height: 100vmin;
}

/* Flex Form */
.form-flex-container {
  display: flex;
}

.form-flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.label-form{
  color: white;
}

.input-form {
  padding: 4px 16px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.button-formulario{
  background-color: #0744b5;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
}